<h3>与 <%= @conversation.target_user(current_user).email %> 的对话</h3>
<div id="chat">
  <ul id="chat_list">
    <% @conversation.messages.each do |message| %>
      <%= render message %>
    <% end %>
  </ul>

  <%= form_for [@conversation, @message], remote: true do |f| %>
    <%= f.text_field :body, id: "input-message-body" %>
    <%= f.submit "提交" %>
  <% end %>
</div>
